/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Utils */
.pbar {
    height: 5px;
    background-color: #5A5A5A;
    margin: 0 1rem;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.current-progress {
    position: absolute;
    background-color: #C1C1C1;
    height: 100%;
    border-radius: 5px;
}

.progress-marker {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 50% -50%;
    border: 5px solid #C1C1C1;
    background-color: #C1C1C1;
    display: none;
}

.pbar:hover .current-progress{
    background-color: #ADFF2F;
}

.pbar:hover .progress-marker{
    display: block;
}

/* Struttura principale */
.wrapper {
    display: flex;
    height: calc(100vh - 80px);
}

.container {
    overflow-y: auto;
}

#sidebar {
    width: 60px;
    flex-shrink: 0;
    padding: 15px;
    background-color: black;
    color: #A3A3A3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 0.8rem;
}

#topbar {
    height: 80px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
}

#music {
    background-color: #141922;
    padding: 0 20px;
}

footer {   
    height: 80px;
    background-color: #282828;
}

/* Sidebar */
.sb-bottom,
.sb-top {
    width: 100%;
}

.sb-bottom img,
.sb-top img {
    margin: 0 auto;
}

#sidebar img {
    max-width: 70%;
}

.logo {
    padding-bottom: 10px;
}

.sb-nav li {
    padding: 5px 0;
}

.sb-nav {
    margin-bottom: 1rem;
}

.download {
    width: 60%;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

.user img{
    background-color: #808080;
    border-radius: 50%;
}

#sidebar a{
    color: #A3A3A3;
}

.sb-nav li {
    position: relative;
}

.sb-nav .active::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    border-left: 2px solid #ADFF2F;
}

#sidebar .active {
    color: white;
}

/* Playlist */
.sb-playlist h4 {
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}

.sb-playlist i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
}

.sb-playlist p {
    margin-bottom: 10px;
    cursor: pointer;
}

.sb-playlist li {
    line-height: 2rem;
    cursor: pointer;
}

hr {
    margin-bottom: 10px;
}

#sidebar .user a{
    color: white;
}

/* Topbar */
#topbar a {
    color: white;
    border: 1px solid white;
    padding: 12px 2rem;
    border-radius: 25px;
    font-size: 0.8rem;
}

#topbar a:hover {
    scale: 1.1;
}

/* Music area */
.pages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    padding: 20px 0;
}

.pages li {
    width: 25%;
    font-size: 0.8rem;
    font-weight: 700;
}

.pages a {
    color: #7D7F84;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.pages a:hover {
    color: white;
}

/* .pages a:active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 35%;
    border-bottom: 1px solid #ADFF2F;
} */

.pages .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 35%;
    border-bottom: 1px solid #ADFF2F;
}

/* Grid con album */
.recently-played,
.creatoxte,
.artisti-popolari {
    margin-top: 20px;
}

.recently-played .row,
.creatoxte .row,
.artisti-popolari .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.recently-played .col,
.creatoxte .col,
.artisti-popolari .col {
    width: 50%;
    padding: 5px;
    text-align: center;
}

.music-title {
    color: white;
    margin-bottom: 20px;
}

.music-title p {
    font-size: 0.8rem;
    padding-top: 10px;
    color:#7D7F84;
    font-weight: 700;
}

.card h3 {
    padding-top: 20px;
}

.card p {
    padding-top: 10px;
}

.card {
    margin-bottom: 10px;
}

.card h3 a {
    color: white;
}

.card p a {
    color: #7D7F84;
    font-weight: 700;
}

/* Hover grid album */
.card-img {
    position: relative;
}

.card-img .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-size: 5rem;
    display: none;
    cursor: pointer;
}

.card-img:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
}

.card-img:hover .fa-circle-play {
    display: block;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 10px;
}

footer .f-mid {
    width: 40%;
}

footer .f-left,
footer .f-right {
    width: 30%;
}

/* Footer area sinistra */
.f-left {
    display: flex;
    height: 50%;
    text-align: left;
    padding-right: 10px;
}

.f-left * * {
    cursor: pointer;
}

.fl-cover img {
    height: 100%;
    margin-right: 1rem;
}

.fl-album-data {
    font-size: 0.8;
    margin-right: 25px;
}

.aut-song,
.fl-icons {
    color: #7D7F84;
}

.brano:hover,
.artista:hover {
    color: #fff;
    text-decoration: underline;
}

.aut-song {
    font-size: 0.6rem;
    font-weight: 700;
}

.fl-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fl-icons .fa-heart:hover,
.fl-icons .fa-folder:hover{
    color: #fff;
}

/* Footer area centrale */
.m-buttons {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.m-buttons * {
    cursor: pointer;
}

.m-buttons .fa-circle-play {
    font-size: 2rem;
}

.m-buttons .fa-circle-play:hover {
    scale: 1.2;
}

.m-player {
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 50%
}

.progress-bar .current-progress {
    width: 20%;
}

/* Footer area destra */
.f-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.f-right > *{
    display: block;
    cursor: pointer;
}

.volume-bar {
    width: 60%;
    margin: 0;
}

.volume-bar .current-progress {
    width: 15%;
}

/* Portabilità a schermo 650px */
@media screen and (min-width:650px) {
    #sidebar {
        width: 200px;
    }

    .s-d-block {
        display: block;
    }

    .s-d-none {
        display: none;
    }

    #sidebar span {
        display: inline;
    }

    #sidebar .sb-nav img,
    #sidebar .sb-bottom img {
        display: inline;
        max-width: 15%;
        vertical-align: middle;
    }

    .logo img,
    .download {
        margin: 0;
    }

    .download {
        padding-bottom: 10px;
        width: 100%;
        font-size: 0.7rem;
    }

    .download img,
    .user img {
        margin-right: 5px;
    }

    .pages li {
        width: calc(100%/3);
    }
}

/* Porting a 830px */
@media screen and (min-width:830px) {
    .fl-icons {
        flex-direction: row;
    }

    .pages li {
        width: calc(100%/5);
    }

    .recently-played .col,
    .creatoxte .col,
    .artisti-popolari .col {
        width: 25%;
    }

    .card-text h3 {
        font-size: 1rem;
    }

    .card-text p {
        font-size: 0.7rem;
    }

    .m-buttons {
        width: 60%;
        margin: 0 auto;
    }
}

/* Porting a 1180px */
@media screen and (min-width:1180px) {
    .pages li {
        width: calc(100%/8);
    }

    .recently-played .col,
    .creatoxte .col,
    .artisti-popolari .col {
        width: calc(100%/6);
    }

    .m-buttons {
        width: 40%;
        margin: 0 auto;
    }

    .volume-bar {
        width: 30%;
        margin: 0;
    }
}